 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                    <img class="img-responsive" src="img/profile.png" alt="" style="width: 200px;padding-bottom: 20px;display: inline-block;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p style="text-align: justify">
                        I'm an all-round software engineer and technical lead with extensive experience with development stacks such as Java (Enterprise),
                        C/C++ (Embedded), Android/React Native (Mobile). I'm always expanding my horizon with new and interesting tools and languages
                        such as NodeJS, Meteor, React and Kotlin. Currently focusing on Docker and Continuous Delivery &amp; Deployment.
                        Big fan of quality metrics to continuously drive improvements. Promoter of agile processes such as Scrum and Kanban.
                        I'm best described as a person with strong technical skills, passionate speaker and always ready to learn something new.
                    </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2" style="text-align:center;">
                    <h3>Experience</h3>
                    <p>
                        <ul class="resume languages" style="padding-top:20px;">
                            <li><i class="resume-icon devicon-java-plain"></i><br/>Java</li>
                            <li><i class="resume-icon devicon-cplusplus-plain"></i><br/>C++</li>
                            <li><i class="resume-icon devicon-javascript-plain"></i><br/>JavaScript</li>
                            <li><i class="resume-icon devicon-html5-plain"></i><br/>HTML</li>
                        </ul>
                    </p>
                    <p>
                        <ul class="resume tools">
                            <li><i class="resume-icon devicon-gimp-plain"></i><br/>Gimp</li>
                            <li><i class="resume-icon devicon-vim-plain"></i><br/>Vim</li>
                            <li><i class="resume-icon devicon-chrome-plain"></i><br/>Chrome</li>
                            <li><i class="resume-icon devicon-git-plain"></i><br/>Git</li>
                            <li><i class="resume-icon devicon-github-plain"></i><br/>Github</li>
                            <li><i class="resume-icon devicon-travis-plain"></i><br/>Travis</li>
                        </ul>
                    </p>
                    <p>
                        <ul class="resume platforms">
                            <li><i class="resume-icon devicon-linux-plain"></i><br/>Linux</li>
                            <li><i class="resume-icon devicon-docker-plain"></i><br/>Docker</li>
                            <li><i class="resume-icon devicon-react-original"></i><br/>React</li>
                            <li><i class="resume-icon devicon-nginx-original"></i><br/>Nginx</li>
                            <li><i class="resume-icon devicon-nodejs-plain"></i><br/>NodeJS</li>
                            <li><i class="resume-icon devicon-meteor-plain"></i><br/>Meteor</li>
                            <li><i class="resume-icon devicon-wordpress-plain"></i><br/>Wordpress</li>
                        </ul>
                    </p>
                    <p>
                        <ul class="resume databases">
                            <li><i class="resume-icon devicon-mysql-plain"></i><br/>MySQL</li>
                            <li><i class="resume-icon devicon-postgresql-plain"></i><br/>Postgres</li>
                            <li><i class="resume-icon devicon-mongodb-plain"></i><br/>Mongo</li>
                        </ul>
                    </p>
                </div>
    
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/JeroenPeetersCV.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>